@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  input {
    color-scheme: dark;
  }
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
